#post_content
  %blockquote
    .date_and_author
      = link_to "#{comment.user.name},", user_path(comment.user)
      = "#{time_ago_in_words(comment.created_at)} ago"
      = "#{comment.score} points."
      <!-- don't show a link to the post if the comments are shown on the same post page -->
      <!-- Some articles got deleted but their comments still linger on - this causes a crash -->
      <!-- Next line crashes if user not logged in                                            -->
      <!-- if current_page?(comments_path) or current_page?(comments_user_path(current_user)) -->
      - if comment.article.nil?
        = " (article deleted) "
      - else
        in
        = link_to comment.article.title, comment.article

      - if comment.user == current_user
        |
        = link_to "Delete", comment_path(comment), method: :delete, remote: true, class: 'delete_comment'
      - else
        |
        - if current_user
          - if current_user.liked? comment
            = link_to "Unlike", like_comment_path(comment), method: :put
          - else
            = link_to "Like", like_comment_path(comment), method: :put
          |
          - if current_user.disliked? comment
            = link_to "Undislike", dislike_comment_path(comment), method: :put
          - else
            = link_to "Dislike", dislike_comment_path(comment), method: :put
      
    .comment-body= markdown(comment.body)
