= simple_form_for([@article, @article.comments.build(user_id: current_user.id)], remote: true) do |f|
    = f.hidden_field :user_id, value:  current_user.id
    = f.input :body , label: false, placeholder: "Say something"
    = f.button :submit
