$(".comment_table").html("<%= escape_javascript(render @article.comments) %>") 
/* the next line is optional, it hides then fades in the last line */
/* http://stackoverflow.com/questions/978708/jquery-append-fadein/978731#978731  */
$(".comment_table").children(':last').hide().fadeIn(2000);


