/* this works but if you delete in teh center then gaps are left in between */
$('.delete_comment').bind('ajax:success', function() {
     $(this).closest('blockquote').fadeOut(2000);
});
/* this immediately redraws so the fadeout is not noticed */
$(".comment_table").html("<%= escape_javascript(render @article.comments) %>") 
