.li
  .first_row
    - if article.url.blank?
      - article.url = article_path(article)
    = link_to article.title, article.url 
    %br/
  .second_row
    #{article.score} points
    by #{link_to article.user.name, article.user}
    #{time_ago_in_words(article.created_at)} ago
    |
    Score: #{article.cached_weighted_total.round(2)}
    |
    = link_to "#{article.comments.size} comments", article

    - if current_user &&  article.user != current_user
      |
      - if current_user.liked? article
        = link_to "Unlike", like_article_path(article), method: :put 
      - else
        = link_to "Like", like_article_path(article), method: :put 
      |
      - if current_user.disliked? article
        = link_to "Undislike", dislike_article_path(article), method: :put
      - else
        = link_to "Dislike", dislike_article_path(article), method: :put
  
