%h1 Edit Article
.row
  .col-md-6.col-md-offset-3
    = simple_form_for( @article) do |f|
      = f.error_notification
      
      = f.input :title
      = f.input :url
      Or
      = f.input :body
      = f.input :tldr
      = f.button :submit
