%h1 New Article
.row
  .col-md-6.col-md-offset-3
    = simple_form_for( @article) do |f|
      = f.error_notification
      
      = f.input :title, placeholder: 'Enter title'
      = f.input :url, placeholder: 'Enter link'
      Or
      = f.input :body
      = f.input :tldr
      = f.button :submit
