#post_content
  .title= link_to @article.title, @article.url

  %p.date_and_author
    #{@article.score} points
    by #{link_to @article.user.name, @article.user}
    #{time_ago_in_words(@article.created_at)} ago
    |
    Score: #{@article.cached_weighted_total.round(2)}
    |
    = link_to "#{@article.comments.size} comments", @article

    - if current_user
      - if @article.user == current_user
        | 
        = link_to 'Edit', edit_article_path(@article) 
        |
        = link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' }
      - else
        |
        - if current_user.liked? @article
          = link_to "Unlike", like_article_path(@article), method: :put 
        - else
          = link_to "Like", like_article_path(@article), method: :put 
        |
        - if current_user.disliked? @article
          = link_to "Undislike", dislike_article_path(@article), method: :put
        - else
          = link_to "Dislike", dislike_article_path(@article), method: :put


  - if !@article.body.blank?
    .well
      = markdown(@article.body)

  .container
    .comment_table
      = render @article.comments
    - if user_signed_in?
      %h1= "Add a comment"
      = render "comments/form"
    - else
      %strong If you were logged in, you could add a comment

