/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * http://stackoverflow.com/questions/18529274/change-navbar-color-in-twitter-bootstrap-3
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'normalize';

$gray-medium-light: #eaeaea;
/* red */
$bgDefault      : #e74c3c;
/* green
$bgDefault      : #2ecc71;
*/
$bgHighlight    : #c0392b;
$colDefault     : #ecf0f1;
$colHover       : #ffbbbc; 

html, body {
	font-family: 'Raleway', sans-serif;
}
/* universal */
body {
  padding-top: 60px;
  background-color: #f6f6ef;
}
section {
  overflow: auto;
}
.center {
  text-align: center;
  h1 {
      margin-bottom: 10px;
  }
}

/* typography */
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
	font-weight: 500;
}
hh1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
/*  text-align: center; */
}
hh2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

/* footer */
/* do not override bootstrap footer class we use it in comments */
/* this is for the footer at the bottom of the application      */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid $gray-medium-light;
    color: $gray-light;
    a {
        color: $gray;
        &:hover {
            color: $gray-darker;
        }
    }
    small {
        float: left;
    }
    ul {
        float: right;
        list-style: none;
        li {
            float: left;
            margin-left: 15px;
        }
    }
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
color: white;
text-decoration: none;
  }
}
.navbar-default {
    background-color: $bgDefault;
    border-color: #E7E7E7;
}
/* title */
.navbar-default .navbar-brand {
    color: #000;
    font-weight: bold;
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: #000;
}
/* article listing on index page */
.article {
    background-color: #f6f6ef;
    .first_row {
        font-size: 1.5em;
        /* I want the article to be in black but it comes in link color */
        a {
            color: black !important;
        }
    }

}

.second_row {
    color: $gray-light;
    display: block;
    margin-left: 10px;
  }

/*
ul.article li first_row a, ul.article li first_row a:visited {
    color: orange !important;
}

ul.article li first_row a:hover, ul.article li first_row a:active {
    color: orange !important;
}

ul.article li.active first_row a {
    color: orange !important;
}
/* on show page */
#post_content {
    padding: 1em 1em;
    .title {
        font-weight: 500;
        text-decoration: none;
        color: #2a2f35;
        color: black;
        font-size: 2.0em;
        margin-bottom: 0;
        /* I want the article to be in black but it comes in link color */
        a {
            color: black !important;
        }
    }
    .body {
        font-size: 1.1em;
        line-height: 1.75;
    }
    .comment-body {
        margin-left: 1em;
    }
    /* comments line */
    .date_and_author {
        color: #9eafba;
        margin-left: 0em;
        margin-bottom: 0.2em;
     /*   margin: .5em 0 2em 0; */
    }
}
