%footer.footer
  %small
    Hacker News Clone written in Ruby on Rails 4.2.6.
  %nav
    %ul
      %li= link_to "About", '#'
      %li= link_to "Contact", '#'
      %li
        %a{ href: "https://news.ycombinator.com/news", title: "HN" }
          HN
