<header class="navbar navbar-fixed-top navbar-default">
      <div class="navbar-header">
        <%= link_to "Hacker News", root_path, class: "navbar-brand" %> 
      </div>
      <ul class="nav navbar-nav">
           <li><%= link_to "New", latest_articles_path %></li> 
           <% if user_signed_in? %>
             <li><%= link_to "Threads", comments_user_path(current_user) %></li> 
           <% end %>
           <li><%= link_to "Comments", comments_path %></li> 
           <li><%= link_to "Submit", new_article_path %></li> 
      </ul>

        <ul class="nav navbar-nav navbar-right"> 
           <% if user_signed_in? %>
               <li><%= link_to current_user.name, current_user  %></li>
 
               <li class="dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                       Account <b class="caret"></b>
                   </a>
                   <ul class="dropdown-menu">
                       <li><%= link_to "Profile", current_user %></li>
                       <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                       <li class="divider"></li>
                       <li>
                           <%= link_to "Log out", destroy_user_session_path, method: :delete %>
                       </li>
                   </ul>
               </li>
           <% else %>
             <li><%= link_to new_user_session_path do %>
               <span class="glyphicon glyphicon-log-in"></span> Log In
             <% end %>
           </li>

           <% end %>
        </ul> 
      </nav>
   </div>
</header>
